
body {
  background-color: #FF944D;
  font-family: Bangers, Impact;
}

#pizza-details, #output, .menu-buttons  {
  display: none;
}

.jumbotron {
  background-image: url(../img/pizza.png);
  border-bottom: solid 5px black;

}

.jumbotron h1, .jumbotron h3 {
  font-family: Bangers, impact;
  text-align: center;
  color: white;
  text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       3px 3px 0 #000;
}

label {
  font-size: 20px;
}

#user-information label  {
      display: inline-block;
      float: left;
      clear: left;
      width: 250px;
      text-align: right;
      padding-right: 10px
}

#user-information input {
  display: inline-block;
  float: left;
  font-family: sans-serif;
}

button {
  border: solid black 1px;
  font-size: 25px;
  text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;

}

footer {
   background-color: #F0391D;
   padding-top: 10px;
   padding-bottom: 0px;
   padding-left: 20px;
   position:fixed;
   bottom:0;
   width:100%;
   border-top: solid 1px black;
   color: white;
   font-size: 20px;
   text-shadow:
       -1px -1px 0 #000,
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}
